<!DOCTYPE html>
<html>
<head>
    <title>SCAPP Chatterbot v0.1.0</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/4.3.1_css_bootstrap.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/js/3.2.1_jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h4 class="title">SCBOT v0.1.0</h4>
    <div class="panel panel-default">
        <div id="chatbox" class="panel-body chatbox"></div>
        <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type Your Message Here" />
    </div>
</div>

<script>
    var box = $("#chatbox").get(0);
    $("#textInput").keypress(function(e) {
        if(e.which == 13) {
            getResponse();
        }
    });
    $("#buttonInput").click(function() {
        getResponse();
    });
    $(box).mouseover(function() {
        $(this).css('overflow-y', 'auto');
    });
    $(box).mouseout(function() {
        $(this).css('overflow-y', 'hidden');
    });

    function getResponse() {
        let userText = $("#textInput").val();
        let userHtml = '<p class="user"><span>' + userText + '</span></p>';
        $("#textInput").val("");
        $(box).append(userHtml);
        $.get("/get", { msg: userText }).done(function(data) {
            var botHtml = '<p class="bot"><span>' + data + '</span></p>';
            $(box).append(botHtml);
            box.scrollTop = (box.scrollHeight - box.clientHeight);
        });
    }
</script>
<script src="static/js/3.4.1_jquery.min.js"></script>
<script src="static/js/1.14.7_umd_popper.min.js"></script>
<script src="static/js/4.3.1_js_bootstrap.min.js"></script>
</div>
</body>
</html>